/* Vars */
$globalShadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
$globalRadius: 4px;
$primary: #77C48F;
$textGreen: #00604A;

/* Base Styles */

.btn {
  box-shadow: $globalShadow;
  border-radius: $globalRadius;
  transition: all .15s ease;
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  }
}

/* App Styles */
.hero {
  .nav-link {
    color: $textGreen;
  }
}
